@page
@model Book_Lending_System.Pages.AccountView.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Account</li>
    </ol>

    <div class="form-button-view">
        <a class="btn btn-primary btn-sm" asp-page="Create">Create</a>
    </div>
</nav>
<div class="container">

    <div class="datatable-container pb-4">
        <table class="datatable_responsive table table-striped table-hover gy-5 gs-7 border rounded w-100">
            <thead>
                <tr class="fw-semibold fs-6 text-gray-800">
                    <th>
                        Username
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Users[0].Email)
                    </th>
                    <th>
                        Roles
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr class="cursor-pointer">
                        <td>
                            <a class="text-decoration-none text-black d-block" asp-page="./Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.UserName)
                            </a>
                        </td>
                        <td>
                            <a class="text-decoration-none text-black d-block" asp-page="./Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Email)
                            </a>
                        </td>
                        <td>
                            @foreach (var role in Model.UserRolesDict[item.Id])
                            {
                                <a class="text-decoration-none text-black" asp-page="../RoleView/Details" asp-route-id="@role.Id">
                                    <span class="ms-2 badge bg-primary fw-semibold">@role.Name</span>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>