@page
@model Book_Lending_System.Pages.UserView.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="Index">User</a></li>
            <li class="breadcrumb-item" aria-current="page">Delete</li>
        </ol>
    </nav>

    <h4>User</h4>
    <form method="post">
        <input type="hidden" asp-for="UserPartner.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-outline-primary btn-light" asp-page="./Index">Back to List</a>
    </form>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.NIK)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.NIK)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.TelephoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.TelephoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.Nationality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.Citizenship)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.Citizenship)
        </dd>
    </dl>
</div>
