@page
@model Book_Lending_System.Pages.UserView.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="Index">User</a></li>
            <li class="breadcrumb-item" aria-current="page">Details</li>
        </ol>
    </nav>
    <div>
        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.UserPartner?.NIK">Edit</a>
        <a class="btn btn-primary" asp-page="./Delete" asp-route-id="@Model.UserPartner?.NIK">Delete</a>
        <a class="btn btn-light btn-outline-primary" asp-page="./Index">Back to List</a>
    </div>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.TelephoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.TelephoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.Nationality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPartner.Citizenship)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPartner.Citizenship)
        </dd>
    </dl>
</div>
