@page
@model Book_Lending_System.Pages.BookViews.ExploreView.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row justify-content-md-center">
        <div class="row text-start book-detail-parent">
            
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6"></div>
                    <div class="col-12 col-md-6">
                        <h3 class="book-title">
                            @Model.Book.Title
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-12 py-2 book-img-title">
                <img src="~/images/uploads/@{@Model.Book.ImageLocation}" alt="Book Cover" class="img img-fluid">
                <div class="book-detail">
                    <table>
                        <tbody>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(m => m.Book.BookAuthors)</th>
                                <td>
                                    @if (Model.Book.BookAuthors != null)
                                    {
                                        @foreach (var ba in Model.Book.BookAuthors)
                                        {
                                            var author = ba.Author;
                                            <text>
                                                <span class="badge bg-primary">@author.Name</span>
                                            </text>
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(m => m.Book.ReleaseDate)</th>
                                <td>
                                    @Html.DisplayFor(m => m.Book.ReleaseDate)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(m => m.Book.Status)</th>
                                <td>
                                    @Html.DisplayFor(m => m.Book.Status)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(m => m.Book.BookPublishers)</th>
                                <td>
                                    @if (Model.Book.BookPublishers != null)
                                    {
                                        @foreach (var bp in Model.Book.BookPublishers)
                                        {
                                            var publisher = bp.Publisher;
                                            <text>
                                                <span class="badge bg-primary">@publisher.Name</span>
                                            </text>
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(m => m.Book.BookCategories)</th>
                                <td>
                                    @if (Model.Book.BookCategories != null)
                                    {
                                        @foreach (var bc in Model.Book.BookCategories)
                                        {
                                            var category = bc.Category;
                                            <text>
                                                <span class="badge bg-primary">@category.Name</span>
                                            </text>
                                        }
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-12 d-md-none">
                <hr />
            </div>

            <div class="col-lg-8 col-md-6 col-sm-12 col-12 py-1">
                <h4 class="pb-2">Synopsis</h4>
                <p class="synopsis">&emsp;@Model.Book.Synopsis</p>
            </div>
        </div>


        @if (Model.Book.Status != Data.BookStatus.Borrowed)
        {
            <div class="col-12 py-4 text-center">
                <button type="button" class="btn btn-info btn-sm m-1" data-bs-toggle="modal" data-bs-target="#requestLendingModal">
                    Borrow &nbsp; <i class="bi bi-book"></i>
                </button>
            </div>
        }
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="requestLendingModal" tabindex="-1" aria-labelledby="requestLendingModalLabel" aria-hidden="true" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestLendingModalLabel">Request Lend</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group">
                        <input type="submit" id="submit_request_lend" value="Request" class="btn btn-primary" style="display: none !important;" />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger p-6 px-4"></div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="LendRequest.StartDate" class="control-label"></label>
                        <input asp-for="LendRequest.StartDate" class="form-control" />
                        <span asp-validation-for="LendRequest.StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LendRequest.EndDate" class="control-label"></label>
                        <input asp-for="LendRequest.EndDate" class="form-control" />
                        <span asp-validation-for="LendRequest.EndDate" class="text-danger"></span>
                    </div>
                    <br />
                </form>
            </div>
            <div class="modal-footer">
                @if ((await Model.GetUserPartnerFromSelf()) != null)
                {
                    <label role="button" class="btn btn-primary" for="submit_request_lend" tabindex="0">Request</label>
                }
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}