@page
@model Book_Lending_System.Pages.StudentView.EditModel
@using Book_Lending_System.Data

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="Index">Student</a></li>
        <li class="breadcrumb-item"><a asp-page="Details" asp-route-id="@Model.Student?.Id">@Html.DisplayFor(model => model.Student.NPM) - @Html.DisplayFor(model => model.Student.Name)</a></li>
        <li class="breadcrumb-item" aria-current="page">Edit</li>
    </ol>

    <div class="form-button-view">
        <label role="button" for="form-save-record" class="btn btn-primary btn-sm">Save</label>
        <a asp-page="Details" asp-route-id="@Model.Student?.Id" class="btn btn-light btn-sm btn-outline-primary">Cancel</a>
    </div>
</nav>

<div class="container">
    <form method="post">
        <div class="row form-sheet">
            <div class="col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-4 form-label">
                        <label asp-for="Student.NPM" class="control-label"></label>
                    </div>
                    <div class="col-8 form-value">
                        <input asp-for="Student.NPM" type="text" value="@Model.Student!.NPM" class="form-control" />
                    </div>
                    <span asp-validation-for="Student.NPM" class="text-danger"></span>
                    <p class="text-danger">@Html.ValidationMessage("DuplicateNPM")</p>
                </div>
                <div class="row mb-1">
                    <div class="col-4 form-label">
                        <label asp-for="Student.Name" class="control-label"></label>
                    </div>
                    <div class="col-8 form-value">
                        <input asp-for="Student.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="Student.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="row mb-1">
                    <div class="col-4 form-label">
                        <label asp-for="Student.StudyProgram" class="control-label"></label>
                    </div>
                    <div class="col-8 form-value">
                        <select asp-for="Student.StudyProgram" class="form-control" asp-items="Html.GetEnumSelectList<StudyProgram>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                    <span asp-validation-for="Student.StudyProgram" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-4 form-label">
                        <label asp-for="Student.UserPartner" class="control-label"></label>
                    </div>
                    <div class="col-8 form-value">
                        <select asp-for="Student.UserPartnerId" class="form-control" asp-items='new SelectList(Model.UserPartners, "Id", "Name")'>
                            <option selected="selected" value="">&nbsp;</option>
                        </select>
                    </div>
                    <span asp-validation-for="Student.UserPartner" class="text-danger"></span>
                </div>
            </div>

            <!-- Invisible -->
            <div class="form-group d-none-important">
                <input type="submit" id="form-save-record" value="Save" class="btn btn-primary" />
                <input type="hidden" asp-for="Student.Id" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
