@page
@model Book_Lending_System.Pages.StudentView.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Student</li>
        </ol>
    </nav>

    <div class="pb-4">
        <a class="btn btn-primary" asp-page="Create">Create</a>
    </div>

    <table class="table table-striped table-hover gy-5 gs-7 border rounded w-100" id="student_datatable_responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].StudyProgram)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Student)
            {
                <tr class="cursor-pointer">
                    <td>
                        <a class="text-decoration-none text-black d-block" asp-page="./Details" asp-route-id="@item.NPM">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>
                        <a class="text-decoration-none text-black d-block" asp-page="./Details" asp-route-id="@item.NPM">
                            @Html.DisplayFor(modelItem => item.StudyProgram)
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>