@page
@model Book_Lending_System.Pages.RoleView.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="Index">Role</a></li>
        <li class="breadcrumb-item" aria-current="page">@Html.DisplayFor(model => model.Role.Name)</li>
    </ol>

    <div class="form-button-view">
        <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@Model.Role?.Id">Edit</a>
        <a class="btn btn-primary btn-sm" asp-page="./Delete" asp-route-id="@Model.Role?.Id">Delete</a>
    </div>
</nav>

<div class="container">
    <div class="row form-sheet">
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-4 form-label">
                    @Html.DisplayNameFor(model => model.Role.Name)
                </div>
                <div class="col-8 form-value">
                    @Html.DisplayFor(model => model.Role.Name)
                </div>
            </div>
        </div>
    </div>
</div>